<div class="dialog-header">
    <h3 class="dialog-title">Change password</h3>
    <mat-icon class="dialog-icon-close" [mat-dialog-close]="true">close</mat-icon>
</div>
<mat-dialog-content>
    <form class="from-form" [formGroup]="changeUserPasswordForm">

        <mat-form-field class="form-full-width">
            <input matInput
                   id="oldPassword"
                   name="oldPassword"
                   type="password"
                   formControlName="oldPassword"
                   placeholder="Old password"
                   [type]="hideOldPassword ? 'password' : 'text'" />
            <button mat-icon-button matSuffix
                    (click)="hideOldPassword = !hideOldPassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="!hideOldPassword"
                    type="button">
                <mat-icon>
                    {{hideOldPassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </button>
            <mat-error *ngIf="changeUserPasswordForm.get('oldPassword').hasError('required')">
                Please enter you current password
            </mat-error>
            <mat-error *ngIf="changeUserPasswordForm.get('oldPassword').hasError('wrongPassword')">
                Wrong password
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-full-width">
            <input matInput id="password"
                   name="password"
                   type="password"
                   formControlName="password"
                   placeholder="New password"
                   [type]="hideNewPassword ? 'password' : 'text'"
                   matTooltip="Password must contain not less than eight characters, at least one number, both lower and uppercase letters, and special character" />
            <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="!hideNewPassword"
                    type="button">
                <mat-icon>
                    {{hideNewPassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </button>
            <mat-error *ngIf="changeUserPasswordForm.get('password').hasError('required')">
                New password is required
            </mat-error>
            <mat-error *ngIf="changeUserPasswordForm.get('password').hasError('invalidPassword')">
                Please enter a <strong>valid</strong>password
            </mat-error>
          <mat-error *ngIf="changeUserPasswordForm.get('password').hasError('samePassword')">
            This is your current password
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-full-width">
            <input matInput id="confirmPassword"
                   name="confirmPassword"
                   type="password"
                   formControlName="confirmPassword"
                   placeholder="Confirm new password"
                   [type]="hideConfirmNewPassword ? 'password' : 'text'" />
            <button mat-icon-button matSuffix
                    (click)="hideConfirmNewPassword = !hideConfirmNewPassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="!hideConfirmNewPassword"
                    type="button">
                <mat-icon>
                    {{hideConfirmNewPassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </button>
            <mat-error *ngIf="changeUserPasswordForm.get('confirmPassword').hasError('required')">
                Enter new password again
            </mat-error>
            <mat-error *ngIf="changeUserPasswordForm.get('confirmPassword').hasError('NoPasswordMatch')">
              Password do not match
            </mat-error>
        </mat-form-field>

    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close (click)="onChangePassword(changeUserPasswordForm)" [disabled]="!changeUserPasswordForm.valid">Change</button>
    <button mat-stroked-button color="primary" [mat-dialog-close]="true">Cancel</button>
</mat-dialog-actions>
