.navbar-inverse {
  border-radius: 0;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
}

ul>li {
  text-align: center;
  font-size: 1.2em;
}

.icons, .authenticated {
  display: flex;
  justify-content: flex-end;
}

.user-icon {
  cursor: pointer;
}
