<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header col-lg-2" >
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">R.O. Man Style</a>
    </div>
    <ul class="nav navbar-nav col-lg-8">
      <li routerLinkActive="active" class="col-lg-2"><a routerLink="/suits">Suits</a></li>
      <li routerLinkActive="active" class="col-lg-2"><a routerLink="/jackets">Jackets</a></li>
      <li routerLinkActive="active" class="col-lg-2"><a routerLink="/trousers">Trousers</a></li>
      <li routerLinkActive="active" class="col-lg-2"><a routerLink="/shirts">Shirts</a></li>
      <li routerLinkActive="active" class="col-lg-2"><a routerLink="/accessories">Accessories</a></li>
    </ul>
    <ul class="nav navbar-nav col-lg-2 icons">
      <li><a routerLink="/auth" routerLinkActive="active" title="Log In"><i class="glyphicon glyphicon-log-in"></i></a></li>
      <li><a title="Log Out"><i class="glyphicon glyphicon-log-out"></i></a></li>
    </ul>
  </div>
</nav>
