<div class="login-wrapper">

  <p-panel header="Login" class="col-sm-3">

    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
      <input type="text" placeholder="Username">
    </div>

    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>
      <input type="password" placeholder="Password">
    </div>

    <div class="ui-button-secondary">
      <button pButton type="button" label="Login" class="ui-button-raised ui-button-secondary" routerLink="/home"></button>
    </div>

  </p-panel>

</div>

