<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-header class="login-header">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form #loginForm="ngForm" class="from-form" (ngSubmit)="onSubmit(loginForm)">
      <mat-card-content>
        <table class="form-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="form-full-width">
                <input matInput placeholder="Email"
                       [(ngModel)]="email"
                       name="email"
                       required
                       email
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="form-full-width">
                <input matInput placeholder="Password"
                     [(ngModel)]="password"
                     type="password"
                     name="password"
                     required
                     minlength="6"
                />
            </mat-form-field></td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="loginForm.invalid">Sign In</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>


