table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.naming-header {
  padding-left: 24px;
  font-size: 18px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
}

.second-header-cell {
  border-bottom: 1px solid whitesmoke;
}

.product-image {
  width: 240px;
}

.product-image img {
  max-width: 100px;
}

.mat-cell {
  padding: 1.1em 0;
}

.remove-item {
  text-align: center;
}

.checkout-button {
  text-align: end;
}

.mat-footer-row {
  height: 4.5em;
}

.add-to-card-button {
  width: 50%;
}

.icon-button {
  cursor: pointer;
}

.icon-button:hover {
  color: #673ab7;
}

.product-amount {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  vertical-align: super;
  font-size: 16px;
}

/* Bag is empty */

#emptyBag .emptyBag {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.emptyBag p {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2em
}
