<div class="input-group">
  <div class="input-group-item" class="col-sm-3">
    <mat-form-field class="mat-form-field">
    <input matInput type="text" placeholder="Search" [(ngModel)]="searchResult">
    <button mat-button *ngIf="searchResult" matSuffix mat-icon-button aria-label="Clear" (click)="searchResult=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  </div>
</div>

<div class="item-list" class="col-sm-3" *ngFor="let product of products | search:searchResult" >

  <div class="item" >
    <div class="item-image">
      <div class="item-image"><img src="{{ product.image }}"></div>
    </div>
    <div class="description">
      <div class="item-name">{{product.name}}</div>
      <div class="item-price">{{product.price}}</div>
    </div>
  </div>
</div>

